<!DOCTYPE >
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <div>
		<form method="POST">
			Foto: <input type="text" name="foto"> <br>
			Nome: <input type="text" name="nome"><br> 
			Idade: <input type="number" name="idade"><br>
			Estado Civil: <input type="text" name="estadoCivil"><br>
			Comentario: <input type="text" name="comentario"><br>
			<button type="submit">Postar</button>
		</form>
	</div>


</body>
</html>




